<!-- @using MeetingApp.Models; bunu burda kullanmak yerine _ViewImport git oraya yapıştır.-->

@model MeetingInfo
@{Layout = "_Layout2";}
<main class="text-center">
	<h1 class="h4">Merhaba</h1>
	<p>Toplantı katılım durumunu bildiriniz</p>
	<div class="card my-2">
		<ul class="list-group list-group-flush">
			<li class="list-group-item">@Model.Location</li>
			<li class="list-group-item">@Model.Date.ToString("dd/MM/yyyy HH:mm:ss") tarihinde gerçekleşecek</li>
			<li class="list-group-item">@Model.NumberOfPeople katılımcı</li>

		</ul>
	</div>
	<a asp-controller="Meeting" asp-action="Apply" class="btn btn-sm btn-outline-primary">Başvuru yap</a>
</main>



